# Gemini API Key (Bekommt man in der Google AI Studio Console)
GEMINI_API_KEY=dein_gemini_api_key_hier

# Gegebenfalls hier und im Code für andere Services anpassen

#Langsmith Key für das Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://eu.api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_pt_dein_echter_key_hier"
LANGCHAIN_PROJECT="python-docs-rag"
